
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
<div class="fluid-container">
    <div class="container">
    <div class="login_container">
        <form action="/">
        <div>
            <img width="350" class="m-3 text-left" src="assets/spotify_logo_green.png" alt="spotify light logo">
            <br>
            <br>
             
            <label><strong>Email address or username</strong></label><br>
            <input type="text" placeholder="Email address or username">
        </div>
        <div>
            <label><strong>Password</strong></label><br>
            <input type="password" placeholder="Password"><br />
            <label class="mt-3">
                <small>
                    <a [style.textDecoration]="'underline'">
                        <b>Forgot password ?</b>
                    </a>
                </small>
            </label>
        </div>
        <div>
            <button class="login__btn" >LOG IN</button>
        </div>
        </form>
    </div>
    </div>
</div>

