<div class="spotify__home-container row">
    <div class="spotify__home-container_side-bar col-2">
        <div class="spotify__home-container_side-bar-item">
            <img width="150" class="m-3 text-left" src="assets/spotify_logo.png" alt="spotify light logo">
        </div>
        <div class="spotify__home-container_side-bar-item" (click)="onNavigate('home')">
            <a>Home</a>
        </div>
        <div class="spotify__home-container_side-bar-item" (click)="onNavigate('search')">
            <a>Search</a>
        </div>
        <div class="spotify__home-container_side-bar-item" (click)="onNavigate('library')">
            <a>Your Library</a>
        </div>
        <div class="spotify__home-container_side-bar-item" (click)="onNavigate('playlist')">
            <a>Create Playlist</a>
        </div>
    </div>
    <div class="spotify__home-container_playlist-container col-10">
        <app-top-nav> </app-top-nav>
        <div class="newdiv">
        <div [style.paddingTop]="'35px'" class="mt-5 container-fluid">
            <div class="song-card-list">
                    <app-song-card></app-song-card>
            </div>
        </div>
    </div>
</div>